<section class="form">
    <form class="form-body" action="">
        <div class="form-header">
            <h1>Cadastro de Clientes</h1>
            <button class="return-btn">voltar</button>
        </div>
        <div class="input-group">
            <div class="input-fiscal-info">
                <div class="input-box">
                    <label for="razao">Razão Social:</label>
                    <input id="razao" type="text" name="razao" placeholder="Razão Social" required>
                </div>
                <div class="input-box">
                    <label for="fantasia">Nome Fantasia:</label>
                    <input id="fantasia" type="text" name="fantasia" placeholder="Nome Fantasia" required>
                </div>
                <div class="input-box">
                    <label for="cgc">CPF/CNPJ:</label>
                    <input id="cgc" type="text" name="cgc" placeholder="CPF/CNPJ" required>
                </div>
                <div class="input-box">
                    <label for="IE">Inscrição Estadual:</label>
                    <input id="IE" type="text" name="IE" placeholder="Inscrição Estadual" required>
                </div>
                <div class="input-box">
                    <label for="IM">Inscrição Municipal:</label>
                    <input id="IM" type="text" name="IM" placeholder="Inscrição Municipal" required>
                </div>
            </div>
            <div class="input-user-info">
             
                <div class="input-box">
                    <label for="senha">Senha:</label>
                    <input id="senha" type="password" name="senha" placeholder="Senha" required>
                </div>
            </div>
            <div class="input-user-location">
                <div class="input-box">
                    <label for="cep">CEP:</label>
                    <input id="cep" type="text" name="cep" placeholder="CEP" required>
                </div>
                <div class="input-box">
                    <label for="rua">Rua:</label>
                    <input id="rua" type="text" name="rua" placeholder="Rua" required>
                </div>
                <div class="input-box">
                    <label for="uf">UF:</label>
                    <select name="estados-brasil">
                        <option value="SELECIONE">Selecione</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="bairro">Rua:</label>
                    <input id="bairro" type="text" name="bairro" placeholder="Bairro" required>
                </div>
                <div class="input-box">
                    <label for="numero">Nº:</label>
                    <input id="numero" type="text" name="numero" placeholder="Numero" required>
                </div>
                <div class="input-box">
                    <label for="pontoRef">Ponto de Referência:</label>
                    <input id="pontoRef" type="text" name="pontoRef" placeholder="Ponto de Referência" required>
                </div>
            </div>
            <div class="input-user-contact">
                <div class="input-box">
                    <label for="tel1">Contato 1:</label>
                    <input id="tel1" type="text" name="tel1" placeholder="Contato 1" required>
                </div>
                <div class="input-box">
                    <label for="tel2">Contato 2:</label>
                    <input id="tel2" type="text" name="tel2" placeholder="Contato 2" required>
                </div>
                <div class="input-box">
                    <label for="email">E-mail:</label>
                    <input id="email" type="email" name="email" placeholder="Email" required>
                </div>
            </div>
            <div class="continue-btn">
                <button type="submit">Continuar</button>
            </div>
        </div>
    </form>
</section>