<div class="Pagina">
 <div class="ui grid" style="height: 100%; width:100%; " >
 
 <div class="three wide column" style="height:100%; background-color:black; " >
    <div class = "ui vertical menu ItemMenu "  >
         <a class="item" href="/Demo">Demonstrações <div class="ui teal left pointing label">1</div></a>
         <a class="item" href="#">Clientes</a>
         <a class="item" href="#">Financeiro</a>
         <a class="item" href="#">Comercial</a>
         <a class="item" href="#">Relatórios</a>
         <a class="item" href="#">Agenda</a>
         <a class="item" href="#">Parceiros</a>
         <a class="item" href="#">Trocar Usuário</a>
 
    </div>


 </div>
 <div class="twelve wide column" style="height:100%; margin-top:1% "  ></div> 
 </div>


</div>